#slide-0,
#slide-1-1,
#slide-2-1,
#slide-3-1,
#slide-4-1 {
  flex-direction: column;

  box-sizing: border-box;

  position: relative;
  z-index: 0;

  background: url("../images/backgrounds/title-stars.png") no-repeat center;
  background-size: cover;
}

#slide-0::after,
#slide-1-1::after,
#slide-2-1::after,
#slide-3-1::after,
#slide-4-1::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  z-index: -10;

  width: 100%;
  height: 100%;

  background: url("../images/backgrounds/title-twinkling.png") repeat;
  animation: twinkling 200s linear;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* SLIDE 1 */
#slide-1-1 {
  position: relative;
  z-index: 0;

  height: 100%;
  width: 100%;
}

#slide-1-4 code,
#slide-1-5 code {
  display: block;
}

#slide-1-4 .arrow {
  margin-top: 65px;
}

#slide-1-4 .example {
  height: 200px;
  width: 300px;
  background-color: pink;
}

#slide-1-4 .overlay-text {
  width: 600px;
}

#slide-1-5 .vertical {
  display: flex;
}

#slide-1-5 .arrow {
  margin: 65px 0 40px;
}

#slide-1-5 .plus-sign {
  margin-top: 60px;
}

#slide-1-5 .overlay-text {
  width: 900px;
}

#slide-1-6 .section-title {
  max-width: 1000px;
}

#slide-1-6 .section-title em {
  margin-bottom: 40px;
}

/* SLIDE 2 */
#slide-2-2 .section-title {
  max-width: 800px;
}

#slide-2-3 .slide-title {
  max-width: 800px;
}

#slide-2-3 .horizontal {
  margin-top: 30px;
}

#slide-2-3 .arrow {
  margin-top: 210px;
}

#slide-2-3 .browser-block {
  width: 30vw;
}

#slide-2-3 .element-block {
  flex-shrink: 0;
  font-size: 1em;
}

#slide-2-3 .browser-content {
  display: flex;
  flex-wrap: wrap;
}

#slide-2-3 .element-block:nth-child(1) {
  height: 150px;
  width: 30%;
  background-color: lightskyblue;
}
#slide-2-3 .element-block:nth-child(2) {
  height: 100px;
  width: 40%;
  background-color: khaki;
}
#slide-2-3 .element-block:nth-child(3) {
  height: 200px;
  width: 15%;
  background-color: lightgreen;
}
#slide-2-3 .element-block:nth-child(4) {
  height: 50px;
  width: 60%;
  background-color: lightsalmon;
}
#slide-2-3 .element-block:nth-child(5) {
  height: 100px;
  width: 10%;
  background-color: plum;
}

.content-expectations .element-block:nth-child(4) {
  margin-top: -100px;
}
.content-expectations .element-block:nth-child(5) {
  margin-top: -150px;
}

#slide-2-3 .overlay {
  padding: 20px;
}

#slide-2-3 .overlay .element-block:nth-child(1) {
  height: 200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
#slide-2-3 .overlay .element-block:nth-child(2) {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

#slide-2-3 .overlay-list li:nth-child(1) {
  max-width: 800px;
}
#slide-2-3 .overlay-list li:nth-child(2) {
  max-width: 900px;
}

/* SLIDE 2 */
#slide-2-4 .horizontal {
  margin-top: 30px;
}

#slide-2-4 .horizontal > *:nth-child(1) {
  max-width: calc(80vw - 620px);
}
#slide-2-4 .horizontal > *:nth-child(2) {
  max-width: 600px;
}

#slide-2-4 .block-title {
  text-align: left;
}

#slide-2-4 .inline {
  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-2-4 .block {
  background-color: lightcoral;
}
#slide-2-4 .inline-block {
  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-2-4 .text-block:nth-child(1) .block-title {
  color: pink;
}
#slide-2-4 .text-block:nth-child(2) .block-title {
  color: lightcoral;
}
#slide-2-4 .text-block:nth-child(3) .block-title {
  color: mistyrose;
}
#slide-2-4 .text-block:nth-child(4) .block-title {
  color: rgba(255, 255, 255, 0.5);
}

#slide-2-4 .element-block:nth-child(19) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(20) {
  width: 50%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(22) {
  width: 25%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(23) {
  width: 35%;
  height: 50px;
}
#slide-2-4 .element-block:nth-child(26) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(28) {
  width: 25%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(29) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(30) {
  width: 30%;
  height: 50px;
}

#slide-2-4 img {
  margin-bottom: 10px;
}

#slide-2-5 .slide-title {
  max-width: 660px;
}

#slide-2-5 .horizontal {
  margin-top: 30px;
}

#slide-2-5 .browser-block {
  max-width: 50vw;
}

#slide-2-5 .browser-block:nth-child(3) .browser-content {
  display: flex;
}

#slide-2-5 .element-block {
  font-size: 1em;
}
#slide-2-5 .element-block:nth-child(1) {
  height: 60px;
  width: 60%;
  background-color: pink;
}
#slide-2-5 .element-block:nth-child(2) {
  height: 100px;
  width: 40%;
  background-color: lightcoral;
}

#slide-2-5 .arrow {
  margin-top: 85px;
}

#slide-2-5 .text-block {
  margin-top: 50px;
}

#slide-2-5 video {
  width: 100%;
}

#slide-2-6 {
  position: relative;
}

/* SLIDE 3 */
#slide-3-2 .section-title {
  text-align: left;
  max-width: 1100px;
}
#slide-3-2 .section-title:nth-child(2) {
  max-width: 800px;
  padding-right: 300px;
  margin-top: 20px;
}

#slide-3-2 .overlay-list {
  max-width: 1080px;
}

#slide-3-3 .slide-title {
  max-width: 900px;
}

#slide-3-3 .browser-block {
  max-width: 900px;
  margin-top: 30px;
}

#slide-3-3 .inline {
  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-3 .block {
  background-color: lightcoral;
}
#slide-3-3 .inline-block {
  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}
#slide-3-3 .element-block:nth-child(19) {
  width: 40%;
  height: 40px;
}
#slide-3-3 .element-block:nth-child(20) {
  width: 50%;
  height: 60px;
}
#slide-3-3 .element-block:nth-child(22) {
  width: 25%;
  height: 60px;
}
#slide-3-3 .element-block:nth-child(23) {
  width: 35%;
  height: 50px;
}
#slide-3-3 .element-block:nth-child(26) {
  width: 40%;
  height: 40px;
}
#slide-3-3 .element-block:nth-child(28) {
  width: 25%;
  height: 60px;
}
#slide-3-3 .element-block:nth-child(29) {
  width: 40%;
  height: 40px;
}
#slide-3-3 .element-block:nth-child(30) {
  width: 30%;
  height: 50px;
}

#slide-3-4 .slide-title {
  max-width: 1280px;
}

#slide-3-4 .overlay .slide-title {
  max-width: 1000px;
}

#slide-3-4 > .horizontal {
  margin-top: 50px;
}
#slide-3-4 > .horizontal > span {
  margin-top: calc(20vh + 10px);
}

#slide-3-4 .browser-block:first-child {
  margin-top: 55px;
}

#slide-3-4 .browser-block {
  width: 20vw;
}
#slide-3-4 .browser-content {
  height: 35vh;
  box-sizing: border-box;
}

#slide-3-4 .arrow {
  margin-right: 30px;
  margin-left: 50px;
}

#slide-3-4 .element-block:nth-child(1) {
  height: 150px;
  width: 30%;
  background-color: lightskyblue;
}
#slide-3-4 .element-block:nth-child(2) {
  height: 100px;
  width: 40%;
  background-color: khaki;
}
#slide-3-4 .element-block:nth-child(3) {
  height: 200px;
  width: 15%;
  background-color: lightgreen;
}
#slide-3-4 .element-block:nth-child(4) {
  height: 50px;
  width: 60%;
  background-color: lightsalmon;
}
#slide-3-4 .element-block:nth-child(5) {
  height: 100px;
  width: 10%;
  background-color: plum;
}

#slide-3-5 .slide-title {
  max-width: 1000px;
}
#slide-3-5 .slide-title:not(:first-child) {
  margin-top: 20px;
}

#slide-3-5 > .horizontal {
  margin-top: 50px;
}

#slide-3-5 .browser-content {
  width: 40vw;
  height: 40vh;
  flex-wrap: wrap;
}

#slide-3-5 .element-block {
  width: 300px;
  height: 150px;
  background-color: pink;
}

#slide-3-5 .space-block:nth-child(2) {
  width: calc(100% - 320px);
  height: 130px;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.5);

  color: #303030;
}
#slide-3-5 .space-block:nth-child(3) {
  width: 280px;
  height: calc(100% - 170px);

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.1);
}
#slide-3-5 > .horizontal > div:nth-child(2) .space-block:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.1);

  color: #fff;
}
#slide-3-5 > .horizontal > div:nth-child(2) .space-block:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.5);

  color: #303030;
}

#slide-3-5 .overlay-text {
  max-width: 810px;
  text-align: justify;
}

#slide-3-5 .overlay-text:nth-child(1) em {
  color: pink;
}
#slide-3-5 .overlay-text:nth-child(2) em {
  color: lightcoral;
}

#slide-3-6 .section-title {
  max-width: 900px;
}
#slide-3-6 .section-caption {
  margin-top: 50px;
}
#slide-3-6 .section-caption code {
  margin: 0 10px;
}

#slide-3-7 .slide-subtitle {
  max-width: 700px;
}

#slide-3-7 > .horizontal {
  margin-top: 30px;
}

#slide-3-7 .browser-content {
  width: 40vw;
  height: 40vh;
}

#slide-3-7 .element-block {
  font-size: 1em;
}
#slide-3-7 .element-block:nth-child(1) {
  height: 7vh;
  width: 7vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-7 .element-block:nth-child(2) {
  height: 12vh;
  width: 8vw;

  background-color: lightcoral;
}
#slide-3-7 .element-block:nth-child(3) {
  height: 10vh;
  width: 12vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-3-7 .space-block {
  height: calc(12vh - 20px);
  flex-grow: 1;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
}

#slide-3-7 > .horizontal > div:nth-child(2) .space-block {
  order: -1;
}

#slide-3-7 .substitute .browser-content {
  flex-wrap: wrap;
}

#slide-3-7 .substitute > div:nth-child(2) .browser-content {
  align-items: flex-end;
}

#slide-3-7 .substitute .space-block {
  height: calc(100% - 7vh);
  width: calc(27vw - 20px);
  box-sizing: border-box;
  flex-grow: 0;

  margin-top: -7vh;
  padding-top: 60px;

  z-index: -10;
}
#slide-3-7 .substitute > div:nth-child(2) .space-block {
  margin: 0 calc(100% - 27vw + 10px) -7vh 10px;
  padding: 0 0 50px;
  order: -1;
}

#slide-3-8 .slide-subtitle {
  max-width: 550px;
}

#slide-3-8 > .horizontal {
  margin-top: 30px;
}

#slide-3-8 .browser-content {
  width: 50vw;
  height: 40vh;
}

#slide-3-8 .element-block {
  font-size: 1em;
}
#slide-3-8 .element-block:nth-child(1) {
  height: 7vh;
  width: 7vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-8 .element-block:nth-child(2) {
  height: 12vh;
  width: 8vw;

  background-color: lightcoral;
}
#slide-3-8 .element-block:nth-child(3) {
  height: 10vh;
  width: 12vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-3-8 .space-block {
  height: calc(12vh - 20px);
  flex-grow: 1;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
}
#slide-3-8 .space-block:last-child {
  order: -1;
}

#slide-3-8 .substitute .browser-content {
  flex-wrap: wrap;
}

#slide-3-8 .substitute .browser-content {
  align-items: flex-start;
}

#slide-3-8 .substitute .space-block {
  width: calc(27vw - 20px);
  box-sizing: border-box;
  flex-grow: 1;

  margin-top: -2.5vh;
  padding-top: 30px;

  z-index: -10;
}
#slide-3-8 .substitute .space-block:last-child {
  margin: 10px 10px -2.5vh;
  padding: 0 0 30px;
}

#slide-3-9 > .horizontal {
  margin-top: 30px;
}

#slide-3-9 .browser-content {
  width: 25vw;
  height: 40vh;
}

#slide-3-9 .element-block {
  font-size: 1em;
  flex-shrink: 0;
}
#slide-3-9 .element-block:nth-child(1) {
  height: 7vh;
  width: 5vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-9 .element-block:nth-child(3) {
  height: 12vh;
  width: 6vw;

  background-color: lightcoral;
}
#slide-3-9 .element-block:nth-child(5) {
  height: 10vh;
  width: 10vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-3-9 .space-block {
  height: calc(12vh - 20px);
  min-width: 0;
  flex-grow: 1;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
}

#slide-3-10 > .horizontal {
  margin-top: 30px;
}

#slide-3-10 .browser-content {
  width: 25vw;
  height: 40vh;
}

#slide-3-10 .element-block {
  font-size: 1em;
  flex-shrink: 0;
}
#slide-3-10 .element-block:nth-child(2) {
  height: 7vh;
  width: 5vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-10 .element-block:nth-child(4) {
  height: 12vh;
  width: 6vw;

  background-color: lightcoral;
}
#slide-3-10 .element-block:nth-child(6) {
  height: 10vh;
  width: 10vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-3-10 .space-block:first-child,
#slide-3-10 .space-block:last-child {
  flex-grow: 1;
  flex-basis: 25%;
}
#slide-3-10 .space-block {
  height: calc(12vh - 20px);
  min-width: 0;

  flex-grow: 2;
  flex-basis: 50%;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
}

#slide-3-10 .substitute .block-label {
  width: calc(50vw + 40px);
  text-align: left;
}

#slide-3-10 .substitute .browser-content {
  width: 50vw;
}

#slide-3-11 .section-title {
  max-width: 1200px;
}

#slide-3-12 .slide-title code {
  display: block;
  text-align: center;
}

#slide-3-12 .slide-title code:first-child {
  margin-bottom: -8px;
}
#slide-3-12 .slide-title code:last-child {
  margin-top: -18px;
}

#slide-3-12 > .browser-block {
  margin-top: 50px;
}

#slide-3-12 .browser-content {
  width: 50vw;
  height: 40vh;
  flex-wrap: wrap;
}

#slide-3-12 .element-block {
  font-size: 1em;
  box-sizing: border-box;
}
#slide-3-12 .element-block:nth-child(1) {
  height: 7vh;
  width: 7vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-3-12 .element-block:nth-child(2) {
  height: 12vh;
  width: 8vw;

  background-color: lightcoral;
}
#slide-3-12 .element-block:nth-child(3) {
  height: 10vh;
  width: 12vw;

  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-3-12 .space-block:first-child,
#slide-3-12 .space-block:last-child {
  height: calc((100% - 12vh) / 2);
  width: calc(27vw - 20px);
  margin: 10px calc((100% - 27vw) / 2 + 10px);

  position: relative;
  z-index: -10;
}
#slide-3-12 .space-block:nth-child(2),
#slide-3-12 .space-block:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.1);
}

#slide-3-12 .space-block:first-child {
  margin-bottom: -2.5vh;
}
#slide-3-12 .space-block:last-child {
  margin-top: -2.5vh;
}
#slide-3-12 .space-block:nth-child(2) {
  height: calc(7vh - 15px);
}
#slide-3-12 .space-block:nth-child(4) {
  height: calc(10vh - 15px);
}

#slide-3-12 .space-block {
  height: calc(12vh - 20px);
  width: calc((100% - 27vw) / 2 - 20px);
  min-width: 0;

  margin: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
}

/* SLIDE 4 */
#slide-4-2 .text-block {
  display: flex;
}

#slide-4-2 .block-label:not(:first-child) {
  margin-top: 30px;
}

#slide-4-2 .text-block:nth-child(2) .code-highlight {
  color: lightskyblue;
}

#slide-4-2 .text-block:nth-child(4) .code-highlight {
  color: khaki;
}

#slide-4-2 .text-block:nth-child(6) .code-highlight {
  color: lightgreen;
}

#slide-4-2 .text-block:nth-child(8) .code-highlight {
  color: lightsalmon;
}

#slide-4-2 .overlay .text-block {
  font-size: 1.15em;
}

#slide-4-2 .overlay .code-highlight:first-child,
#slide-4-2 .overlay .code-highlight:last-child {
  color: lightskyblue;
}

#slide-4-2 .overlay .code-highlight:nth-child(2) {
  color: khaki;
}

#slide-4-2 .overlay .code-highlight:nth-child(3) {
  color: lightgreen;
}

#slide-4-2 .overlay .code-highlight:nth-child(4) {
  color: lightsalmon;
}
