/* SLIDE 0 */
#slide-0 {
  flex-direction: column;

  box-sizing: border-box;

  position: relative;
  z-index: 0;

  background: url("../images/backgrounds/title-stars.png") no-repeat center;
  background-size: cover;
}

#slide-0::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  z-index: -10;

  width: 100%;
  height: 100%;

  background: url("../images/backgrounds/title-twinkling.png") repeat;
  animation: twinkling 200s linear;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* SLIDE 1 */
#slide-1-1 {
  position: relative;
  z-index: 0;

  height: 100%;
  width: 100%;
}

#slide-1-1::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  z-index: -10;

  height: 100%;
  width: 100%;

  background: url("../images/backgrounds/introduction.jpg") center no-repeat;
  background-size: cover;

  opacity: 0.2;
}

#slide-1-3 code,
#slide-1-4 code {
  display: block;
}

#slide-1-3 .arrow {
  margin-top: 65px;
}

#slide-1-3 .example {
  height: 200px;
  width: 300px;
  background-color: pink;
}

#slide-1-3 .overlay-text {
  width: 600px;
}

#slide-1-4 .arrow {
  margin: 65px 0 40px;
}

#slide-1-4 .plus-sign {
  margin-top: 60px;
}

#slide-1-4 .overlay-text {
  width: 900px;
}

#slide-1-5 .section-title {
  max-width: 1000px;
}

#slide-1-5 .section-title em {
  margin-bottom: 40px;
}

/* SLIDE 2 */
#slide-2-2 .section-title {
  max-width: 800px;
}

#slide-2-3 .slide-title {
  max-width: 800px;
}

#slide-2-3 .horizontal {
  margin-top: 30px;
}

#slide-2-3 .arrow {
  margin-top: 210px;
}

#slide-2-3 .browser-block {
  width: 30vw;
}

#slide-2-3 .element-block {
  flex-shrink: 0;
  font-size: 1em;
}

#slide-2-3 .browser-content {
  display: flex;
  flex-wrap: wrap;
}

#slide-2-3 .element-block:nth-child(1) {
  height: 150px;
  width: 30%;
  background-color: lightskyblue;
}
#slide-2-3 .element-block:nth-child(2) {
  height: 100px;
  width: 40%;
  background-color: khaki;
}
#slide-2-3 .element-block:nth-child(3) {
  height: 200px;
  width: 15%;
  background-color: lightgreen;
}
#slide-2-3 .element-block:nth-child(4) {
  height: 50px;
  width: 60%;
  background-color: lightsalmon;
}
#slide-2-3 .element-block:nth-child(5) {
  height: 100px;
  width: 10%;
  background-color: plum;
}

.content-expectations .element-block:nth-child(4) {
  margin-top: -100px;
}
.content-expectations .element-block:nth-child(5) {
  margin-top: -150px;
}

#slide-2-3 .overlay {
  padding: 20px;
}

#slide-2-3 .overlay .element-block:nth-child(1) {
  height: 200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
#slide-2-3 .overlay .element-block:nth-child(2) {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

#slide-2-3 .overlay-list li:nth-child(1) {
  max-width: 800px;
}
#slide-2-3 .overlay-list li:nth-child(2) {
  max-width: 900px;
}

/* SLIDE 2 */
#slide-2-4 .horizontal {
  margin-top: 30px;
}

#slide-2-4 .horizontal > *:nth-child(1) {
  max-width: calc(80vw - 620px);
}
#slide-2-4 .horizontal > *:nth-child(2) {
  max-width: 600px;
}

#slide-2-4 .block-title {
  text-align: left;
}

#slide-2-4 .inline {
  color: rgba(0, 0, 0, 0.5);
  background-color: pink;
}
#slide-2-4 .block {
  background-color: lightcoral;
}
#slide-2-4 .inline-block {
  color: rgba(0, 0, 0, 0.5);
  background-color: mistyrose;
}

#slide-2-4 .text-block:nth-child(1) .block-title {
  color: pink;
}
#slide-2-4 .text-block:nth-child(2) .block-title {
  color: lightcoral;
}
#slide-2-4 .text-block:nth-child(3) .block-title {
  color: mistyrose;
}
#slide-2-4 .text-block:nth-child(4) .block-title {
  color: rgba(255, 255, 255, 0.5);
}

#slide-2-4 .element-block:nth-child(19) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(20) {
  width: 50%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(22) {
  width: 25%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(23) {
  width: 35%;
  height: 50px;
}
#slide-2-4 .element-block:nth-child(26) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(28) {
  width: 25%;
  height: 60px;
}
#slide-2-4 .element-block:nth-child(29) {
  width: 40%;
  height: 40px;
}
#slide-2-4 .element-block:nth-child(30) {
  width: 30%;
  height: 50px;
}
